* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.5px;
}

:root {
  --body-bg: rgb(0, 22, 29);
  --player-bg:linear-gradient(rgba(10, 36, 14, 0.5), #01282c);
  --clr:rgb(240,240,240);
}

body {
  background: var(--body-bg);
}

button {
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header h2 {
  font-weight: 500;
  font-size: 2.5rem;
  padding: 1rem 1rem;
}

::-webkit-scrollbar {
  color: red;
}

section#player {
  height: 90vh;
  position: relative;
}

#song_list_displayer {
  background: var(--player-bg);
  max-height: 80vh;
  overflow-y: scroll;
}

#song_list_displayer .each_list {
  padding: 1.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(190, 190, 190, 0.6);
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
  position: relative;
  overflow: hidden;
}

#song_list_displayer .each_list:hover {
  background: rgba(66, 0, 128, 0.6);
  background: #131615;
}

#song_list_displayer .each_list div {
  margin-right: 2rem;
}

#song_list_displayer .each_list div img {
  width: 6rem;
  height: 5rem;
}

#song_list_displayer .each_list div.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#song_list_displayer .each_list div.details h3 {
  font-size: clamp(1.6rem, 2.2rem, 2.2vw);
  font-weight: 400;
  color: var(--clr);
  width: 100%;
  margin-bottom: 0.5rem;
}

#song_list_displayer .each_list div.details p {
  color: var(--clr);
  color: #e6e6e6;
  font-size: clamp(1.3rem, 1.8rem, 1.8vw);
  width: 100%;
  font-weight: 300;
}

#mini_player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#mini_player div#part_1 {
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#mini_player div#part_1 h3#mini_song_title,
#mini_player div#part_1 p#mini_song_artist,
#mini_player div#part_1 p#current_time,
#mini_player div#part_1 p#total_time {
  color: var(--clr);
}

#mini_player div#part_1 div.mini_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mini_player div#progress_bar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0.3rem;
  width: 100%;
  background: #8416eb;
  background: green;
}

#mini_player div#progress_bar_container div#progressive_bar {
  height: 100%;
  width: 0;
  -webkit-transition: width 0.1s ease;
  transition: width 0.1s ease;
}

.active_mini_player {
  height: 10vh !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#08180a));
  background: linear-gradient(#08180a);
  position: relative;
}

.active_mini_player a#back_btn {
  display: none;
}

.active_mini_player div.img_container img {
  width: 6rem;
  height: 5rem;
}

.active_mini_player div.mini_details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3rem;
}

.active_mini_player div.mini_details h3#mini_song_title {
  font-size: clamp(1.6rem, 1.8rem, 1.8vw);
  font-weight: 400;
}

.active_mini_player div.mini_details p#mini_song_artist {
  font-size: clamp(1.3rem, 1.6re, 1.6vw);
  font-weight: 300;
}

.active_mini_player div.timers p#current_time,
.active_mini_player div.timers p#total_time {
  display: none;
}

.active_mini_player div#progress_bar_container {
  position: absolute;
  bottom: 0;
}

.active_mini_player div#progress_bar_container div#progressive_bar {
  background: red;
}

.active_mini_player div.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active_mini_player div.btns a#prev_btn,
.active_mini_player div.btns a#next_btn {
  display: none;
}

.active_mini_player div.btns a#play_btn {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  cursor: pointer;
}

.active_mini_player div.btns a#play_btn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.active_mini_player div.btns a#play_btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
  color: var(--clr);
}

.active_mini_player div.btns a#play_btn span svg {
  width: 100%;
  height: 100%;
}

.expand_mini_player {
  height: 90vh !important;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--player-bg);
  background: -webkit-gradient(linear, left top, left bottom, from(#0a240e), to(#01282c));
  background: linear-gradient(#0a240e, #01282c);
}

.expand_mini_player div#part_1 {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.expand_mini_player div#part_1 div.img_container {
  width: clamp(20rem, 25rem, 25vw);
  height: clamp(15rem, 20rem, 20rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
  margin: 0 auto;
}

.expand_mini_player div#part_1 div.img_container img {
  -webkit-transition: width 0.2s ease,height 0.2s ease;
  transition: width 0.2s ease,height 0.2s ease;
  width: 100%;
  height: 100%;
}

.expand_mini_player div#part_1 div.mini_details {
  padding: 0;
  margin: 4rem 0;
}

.expand_mini_player div#part_1 div.mini_details h3 {
  margin-bottom: 0.5rem;
}

.expand_mini_player div#part_1 div.timers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.expand_mini_player div#part_1 div#progress_bar_container {
  position: unset;
}

.expand_mini_player a#back_btn {
  display: block;
}

.expand_mini_player div#progress_bar_container {
  margin: 2rem 0 0.7rem 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expand_mini_player div#progress_bar_container #progressive_bar {
  background: red;
  pointer-events: none;
  position: relative;
}

.expand_mini_player div#progress_bar_container #progressive_bar::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 100%;
  top: 50%;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background: green;
}

.expand_mini_player div.timers {
  margin-bottom: 4rem;
}

.expand_mini_player div.timers p#current_time,
.expand_mini_player div.timers p#total_time {
  display: block;
}

.expand_mini_player div.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.expand_mini_player div.btns a#prev_btn,
.expand_mini_player div.btns a#next_btn {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expand_mini_player div.btns a#prev_btn span,
.expand_mini_player div.btns a#next_btn span {
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--clr);
}

.expand_mini_player div.btns a#prev_btn span svg,
.expand_mini_player div.btns a#next_btn span svg {
  width: 100%;
  height: 100%;
}

.expand_mini_player div.btns a#prev_btn:active,
.expand_mini_player div.btns a#next_btn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.expand_mini_player div.btns a#prev_btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.expand_mini_player div.btns a#prev_btn:active {
  -webkit-transform: rotate(180deg) scale(0.8);
          transform: rotate(180deg) scale(0.8);
}

span.span_ripple {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgba(66, 0, 128, 0.6);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: animate_ripple 0.5s linear infinite;
          animation: animate_ripple 0.5s linear infinite;
  pointer-events: none;
}

@-webkit-keyframes animate_ripple {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100rem;
    height: 100rem;
  }
}

@keyframes animate_ripple {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100rem;
    height: 100rem;
  }
}
/*# sourceMappingURL=style.css.map */